/* App.css */
body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", monospace;
  background-color: #1e1b1e;
  color: #eee;
  position:relative;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  
}

.track-box {
  width: 300px;
  height: 300px;
  border: 2px dashed #aaa;
  border-radius: 12px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d2d2d;
  color: #ddd;
  text-align: center;
  font-size: 16px;
  transition: background-color 0.3s;
}

.track-box.active {
  background-color: #3b3b3b;
  border-color: lime;
}

.mouse-popup{
  position:absolute;
  z-index:9999;
  background-color:#dee4b0;
  color:black;
  padding:12px;
  font-size:14px;
  min-width:200px;
}

.mouse-popup table {
  width:100%;
  border-collapse:collapse;
}

.mouse-popup th {
  text-align: center;
  font-weight: bold;
  padding-bottom: 4px;
}

.mouse-popup td {
  padding: 2px 6px;
}